*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0 !important;
}
.menu-top {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.menu-top img{
    width: 80px;
}
.menu-top p{
    margin: 0;
    font-size: 16px;
    color: rgb(12, 12, 55);
    font-weight: 700;
}
.menu-top p>span{
    color: rgb(180, 2, 2);
}
.menu-body{
    display: grid;
    height: 80vh;
    justify-content: space-between;
    padding: 0 20px;
}
.menu-body li{
    list-style: none;
    padding: 20px 0;
    height: 16px;
    min-width: 20px;
}
.menu-body li{
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: rgb(160, 160, 160);
}
.menu-body li>a{
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: rgb(160, 160, 160);
}
.icon{
    font-size: 24px !important;
    color: rgb(180, 2, 2);
  
}
.icon:hover{
    color: black;
}


.menu-body-b{
  display: flex;
  align-items: end;
height: 50vh;
}
.menu-hide{
    visibility: hidden;
    opacity: 0;
    width: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}